*{margin:0;padding:0;box-sizing:border-box;}
body{font-family:"Open Sans", "Lato", sans-serif;color:#ffffff;background-color:#1d1d1d;}
@keyframes rise{from{margin-top:50px;opacity:0;}
to{margin-top:0;opacity:1;}
}
@keyframes appear{from{opacity:0;}
to{opacity:1;}
}
.a4{width:100%;max-width:920px;padding:15px;margin-left:auto;margin-right:auto;animation:appear 0.75s ease-out;}
.a4 .title{font-size:24pt;font-weight:300;text-align:right;margin:0;animation:rise 0.75s ease-out;}
.title{font-size:34pt;font-weight:300;margin-bottom:20px;text-align:center;animation:appear 0.75s ease-out;}
.links{font-size:0;margin-top:20px;text-align:center;list-style:none;}
.links li{font-size:12pt;display:inline-block;padding:5px;width:25%;animation:rise 1s ease-out;}
.links li a{color:inherit;text-decoration:none;}
.links li a:hover{text-decoration:underline;}
.note{text-align:center;font-size:8pt;color:#AAAAAA;animation:appear 0.75s ease-out;}
p{margin-top:5px;margin-bottom:10px;}
h1{margin-top:25px;margin-bottom:10px;}
h2{margin-top:25px;margin-bottom:5px;}
.title a{color:inherit;text-decoration:none;}
.title a:hover{text-decoration:underline;}
a{color:#33BB33;text-decoration:none;}
a:hover{text-decoration:underline;}
ul{list-style:none;padding-left:15px;}
ul li:before{content:"- ";}
.dmca{width:100%;height:auto;padding:10px;}