*{padding:0;box-sizing:border-box;}
html{background-color:#1d1d1d;background-size:cover;}
body{font-family:"Open Sans", "Lato", sans-serif;color:#ffffff;display:block;}
.btn{font-size:0;position:fixed;bottom:0;right:0;float:right;color:#ffffff;cursor:pointer;}
.btn li{font-size:12pt;display:inline-block;}
@keyframes rise{from{margin-top:50px;opacity:0;}
to{margin-top:0;opacity:1;}
}
@keyframes appear{from{opacity:0;}
to{opacity:1;}
}
.img{width: -moz-available;width: -webkit-fill-available;}
.page{max-width: 720px;padding: 10px;margin-left: auto;margin-right: auto;display: flex;flex-direction: column;justify-content: center;min-height: 97vh;}
.note{text-align:center;font-size:8pt;color:#AAAAAA;animation:appear 0.75s ease-out;}
.title{font-size:34pt;font-weight:300;margin-bottom:30px;text-align:center;animation:appear 0.75s ease-out;}
.links{font-size:0;margin-top:40px;text-align:center;list-style:none;}
.links li{font-size:12pt;display:inline-block;padding:5px;width:15%;animation:rise 1s ease-out;}
@media all and (max-width:360px){.links li{width:40%;margin-bottom:5px;padding:5px;}
}
@media all and (max-width:600px){.links li{width:20%;margin-bottom:5px;padding:5px;}
}
.links li a, .fileLink{color:inherit;text-decoration:none;color:#999999;}
.links li a:hover, .fileLink{text-decoration:underline;}
.uploadForm{width:100%;text-align:center;animation:appear 0.75s ease-out;}
.uploadButton{position:relative;margin-right:auto;margin-left:auto;max-width:100%;cursor:pointer;background-color:#229922;border-radius:10px;transition:background 0.1s ease-out;}
.uploadButton:hover{background-color:#33BB33;}
@keyframes pulse{0%{background-color:#117711;}
50%{background-color:#44CC44;}
100%{background-color:#117711;}
}
.uploading{animation:pulse 3s infinite;}
.uploadButton p{padding:20px;font-weight:300;font-size:24pt;}
.uploadButton input[type="file"]{position:absolute;display:block;width:100%;height:100%;top:0;right:0;opacity:0;}
