{%  extends "regular.html" %}
{% block body %}

  <h1>
    History
  </h1>
  <p>
  <a href="https://git.volkor.me/Volkor/QuadFile">QuadFile</a> is a temporary (or permanent, depending on configuration) file sharing service written in Flask.
  </p>
  <p>
  QuadFile was originally started by <a href="https://quad.moe/">quad,</a> who started the project for his own file hosting.
  </p>
  <p>
  It was then forked for use by Volkor, who made a few changes to allow for better file filtering, and file name randomization.
  </p>
  {% endblock %}
