{%  extends "regular.html" %}
{% block body %}
  <h1>Frequently asked questions</h1>

  <h2>
    Can I use ShareX to upload?
  </h2>
  <p>Sure thing! <a href="/static/sharex.sxcu">Click this!</a></p>
  <p>Import that as a custom uploader and fire away.</p>
  <p>If you are on linux, check out <a href="https://git.volkor.me/Volkor/SUpload">my screenshot tool!</a></p>

  <h2>
    Can I upload using my phone?
  </h2>
  <p>Sure, go ahead. You might even want to <a href="{{ url_for('static', filename="AddToHomescreen.png") }}">add {{ page.title }} to your homescreen</a>.</p>

  <h2>
    Is this open-source?
  </h2>
  <p><a href="https://git.volkor.me/Volkor/QuadFile">Yes.</a> If you found a bug, or want to request a feature, make an issue there.</p>
  
  <h1>
    Terms of Use
  </h1>
  <ul>
    <li>Don't upload anything illegal </li>
    <li>The Max filesize is 200MB</li>
    <li>Files are automatically deleted after 7 days of not being viewed</li>
    <li>More terms may be added without warning</li>
  </ul>

  <h1>
    Privacy Policy
  </h1>
  <h2>General Policy</h2>
  <p>Privacy is dead.</p>
  <p>In General, when you upload a file, we reserve the right to distribute that file on your behalf. Yet you hold responsibility for any harm the content might do.</p>
  <h2>Data logging</h2>
  <p>The server stores two pieces of data. When you upload a file, it stores the file (until it is automatcially deleted), along with the standard web server log.</p>
  <p>The web server logs contain your IP address, User Agent, and the request.</p>
  <h2>Deletion</h2>
  <p> After a file expires, it is completely removed, no trains remain on the server regarding the contents of the file. Certain data might be left over in the web server logs. However there is no  way to link a web server log entry to an uploaded file after it is deleted.</p>
  <h2>Criminal investigation and takedowns</h2>
  <p>We will comply with takedown notices about abuse or from copyright holders. We will also cooperate in criminal investigations (with the little information we store). We may share a timestamped IP address from our server logs, that is relevent. If you don't like that, I reccomend you use a VPN to mask your IP, along with a changed user agent.</p2>
{% endblock %}
