{% extends "shell.html" %}
{% block body %}
  <h1 class="title">
    Here's your link:
  </h1>
  <p style="text-align: center;">
    <a class="fileLink" href="{{ data.url }}">{{ data.url }}</a><br>
    <br>
    <a style="color:darkred;" class="fileLink" href="{{ data.deletionurl }}">{{ data.deletionurl }}</a>
  </p>
{% endblock %}
